#income{
    margin-left: 250px;
    color: rgb(68, 58, 61);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  /*   background-color: #eaecd2;
 */
background-color: rgb(226, 220, 220);

}

#new-income-title{
    font-size: 25px;
    margin-left: -46px;
}

.selecteur-mois {
    position: absolute;
    top: 10px;
    right: 20px;
    /* background: #dbe0a7; */
    background-color: rgb(119, 101, 101);
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    font-family: sans-serif;
    color: rgb(68, 58, 61);
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}
#moisAnnee{
  color: rgb(68, 58, 61);
  font-size: 25px;
  font-family: sans-serif;
  margin: auto;
}
.new-income{
    margin-left: 50px;
}
table {
    width: 80%;
    margin: 20px auto;
    margin-left: 10px;
    border-collapse: collapse;
    font-family: sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    padding: 12px 20px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  thead {
    background-color: rgb(97, 81, 81);
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    resize: vertical;
  }
  
  input[type="submit"] {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: rgb(97, 81, 81);
    
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input{
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  input:hover {
    background-color: rgb(160, 140, 140);
  }
  textarea{
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #pagination button {
    margin: 5px;
    padding: 6px 12px;
    background-color: rgb(97, 81, 81);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #pagination button:hover {
    background-color: rgb(160, 140, 140);
  }
    #pagination-suggestion button {
    margin: 5px;
    padding: 6px 12px;
    background-color: rgb(97, 81, 81);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #pagination-suggestion button:hover {
    background-color: rgb(160, 140, 140);
  }
  #accueil{
    margin-top: -79px;
  }
  #btnAccueil {
    margin: 5px;
    padding: 6px 12px;
    background-color: rgb(97, 81, 81);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 66px;
  }
  #btnAccueil:hover {
    background-color: rgb(160, 140, 140);
  }